 <ul id="AccordionImageMenu">
    <li class='menuitem'>
        <span>Предложения</span>
        <img class='menuimage' alt="" src="@Url.Content("/Images/Menu/1.jpg")" />        
		<div class="linkWrapper">
			<div class='menuLink' data-filter='Top7Hot' data-list='hot'>Горящие путевки</div>
			<div class='menuLink' data-filter='All' data-list='specialize'>Специальные предложения</div>
		</div>
    </li>
    <li class='menuitem'>
        <span>Каталог туров</span>
        <img class='menuimage' alt="" src="@Url.Content("/Images/Menu/2.jpg")" />

		<div class="linkWrapper">
			<div class='menuLink' data-filter='all' data-list='tour'>Все туры</div>
			<div class='menuLink' data-filter='directions' data-list='directions'>Направления</div>
			@*<div class='menuLink' data-page-key='Search'>Поиск автобусного тура</div>*@
		</div>
    </li>
    <li class='menuitem'>
        <span>Круизы</span>
        <img class='menuimage' alt="" src="@Url.Content("/Images/Menu/3.jpg")" />
		<div class="linkWrapper">
			<div class='menuLink' data-filter='all' data-list='cruise'>Круизы</div>
		</div>
    </li>
    <li class='menuitem'>
        <span>Прочее</span>
        <img class='menuimage' alt="" src="@Url.Content("/Images/Menu/4.jpg")" /> 
        
		<div class="linkWrapper">
			<div class='menuLink' data-filter='all' data-list='news'>Новости</div>
		</div>
    </li>
    <li class='menuitem'>
        <span>О нас</span>
        <img class='menuimage' alt="" src="@Url.Content("/Images/Menu/5.png")"/>

		<div class="linkWrapper">
			<div class='menuLink' data-filter='all' data-page-key='About'>О фирме</div>
			<div class='menuLink' data-filter='all' data-list='managers'>Коллектив</div>
			<div class='menuLink' data-filter='all' data-page-key='Vacancies'>Вакансии</div>
		</div>
    </li>
</ul>